*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #e0f0ff;
}

.menu{
    position: fixed;
    z-index: 1001;
}

.menu a{
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s ease;
}

.menu a:hover{
    color: #BFA181;
}

.menu #menuCheckbox {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 25px;
    opacity: 0;
    margin-top: 50px;
    margin-left: 50px;
    cursor: pointer;
}

.menu #menuToggle {
    position: absolute;
    z-index: 999;
    /*cada linha vai ter 5px e cada uma tem dois padding com 5px, totalizando 15px em cada linha*/
    width: 35px;
    height: 35px;
    margin-top: 50px;
    margin-left: 50px;
}
.menu #menuToggle span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    background-color: #000000;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.menu #menuCheckbox:checked ~ #menuToggle span{
    background-color: #ccc;
}
.menu #menuCheckbox:checked ~ #menuToggle span:first-child{
    transform: rotate(45deg) translate(7px, 7px);
}
.menu #menuCheckbox:checked ~ #menuToggle span:nth-child(2){
    opacity: 0;
}

.menu #menuCheckbox:checked ~ #menuToggle span:nth-child(3){
    transform: rotate(-45deg) translate(7px, -7px);
}

.menu ul{
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 400px;
    height: 50vh;
    transform: translateX(-100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 50px;
    padding-top: 150px;

    box-sizing: border-box;
    overflow-y: auto;
    list-style-type: none;
    transform-origin: 0% 0%;
    background-color: #0A1828;
    transition: all 0.4s ease;
}

.menu ul li{
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.menu ul li a{
    color: #ccc;
    text-decoration: none;
}

.menu #menuCheckbox:checked ~ ul{
    transform: translateX(0%);
    transition: 0.4s ease;
}

section{
    min-height: 100vh;
    width: 100%;
}

.cards .principal{
    background-color: #243757;
    width: 96%;
    min-width: 290px;
    padding: 20px;
    border-radius: 20px;
    margin: 11px;
}

.cards .principal h1{
    font-size: clamp(2rem, calc(1.6vw + 1rem), 3rem);
    overflow-wrap: break-word;
    width: 100%;
    margin: auto;
    letter-spacing: 1px;
}

.cards .principal b{
    color: #547792;
    margin: 0.5vw;
}

.cards .principal h2{
    font-size: clamp(1.8rem, calc(1.2vw + 1rem), 2.8rem);
    width: 100%;
    margin: auto;
    letter-spacing: 1px;
}

.cards .principal p{
    position: relative;
    font-size: clamp(1.4rem, calc(0.8vw + 1rem), 1.9rem);
    text-indent: 20px;
    bottom: -80px;
}

.cards{
    width: 100%;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 40vh;
}

.cards .imgs{
    border-radius: 5px;
    margin: 0.5vw;
    width: 100%;

}

.cards .imgs img{
    width: 97%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 25px;
    transition:  transform 0.24s ease-in-out;
}
.cards .imgs img:hover{
    transform:  scale(1.03);
}

.h-2{
    grid-row: span 2;
}

.w-2{
    grid-column: span 2;
}

#modal .btn,
#modal .btnfechar{
    position: absolute;
}

.btnfechar{
    top: 40px;
    right: 150px;
}
.btnfechar img{
     width: 40px;
     cursor: pointer;
     display: none;
}

#modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(29, 29, 29, 0.466);
    backdrop-filter: blur(10px);
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

#imgModal {
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
}

.btn{
    top: 50%;
    transform: translateY(-50%);
}

.btn img{
    cursor: pointer;
    width: 50px;
    display: none;

}
.prev{left: 50px;}
.next{right: 50px;}

.end{
    max-width: 150px;
    text-align: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

@media screen and (max-width: 764px){
    .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 25vh;
    }
    .btnfechar{
    position: absolute;
    top: 40px;
    right: 80px;
    }
    .btn img{
        width: 30px;
        cursor: pointer;
        display: none;
    }
    .prev{left: 10px;}
    .next{right: 10px;}

}

