*{
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e0f0ff;
    transition: 0.5s;
}
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #243757;
    transition: 0.5s;
}

.hero p{
    color: #858585;
}
.menu{
    position: fixed;
}

.menu a{
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s ease;
}

.menu a:hover{
    color: #BFA181;
}

.menu #menuCheckbox {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 25px;
    opacity: 0;
    margin-top: 50px;
    margin-left: 50px;
    cursor: pointer;
}

.menu #menuToggle {
    position: absolute;
    z-index: 999;
    /*cada linha vai ter 5px e cada uma tem dois padding com 5px, totalizando 15px em cada linha*/
    width: 35px;
    height: 35px;
    margin-top: 50px;
    margin-left: 50px;
}
.menu #menuToggle span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    background-color: #333;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.menu #menuCheckbox:checked ~ #menuToggle span{
    background-color: #ccc;
}
.menu #menuCheckbox:checked ~ #menuToggle span:first-child{
    transform: rotate(45deg) translate(7px, 7px);
}
.menu #menuCheckbox:checked ~ #menuToggle span:nth-child(2){
    opacity: 0;
}

.menu #menuCheckbox:checked ~ #menuToggle span:nth-child(3){
    transform: rotate(-45deg) translate(7px, -7px);
}

.menu ul{
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 400px;
    height: 50vh;
    margin-left: -400px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 50px;
    padding-top: 150px;

    box-sizing: border-box;
    overflow-y: auto;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate( 0% 100%);
    background-color: #0A1828;
    transition: all 0.4s ease;
}

.menu ul li{
    margin-bottom: 20px;
    font-size: 1.5rem;
}

menu ul li a{
    color: #ccc;
    text-decoration: none;
}

.menu #menuCheckbox:checked ~ ul{
    margin-left: 0;
    transition: all 0.4s ease;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: default;
}

.container{
    background-image: url(../Pasta_imagem/banner3temaclaro.jpg);
    background-size: cover;
    height: 400px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.title_m{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 100px;

}

.title_m h1{
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 2px solid darkred;
    font-size: clamp(0.6rem, calc(2vw + 1.2rem), 2.5rem);
}
.title_m p{
    color: whitesmoke;
    max-width: 190px;
    margin: auto;
    text-transform: capitalize;
    text-align: center;
    font-size: clamp(1rem, calc(1.2vw + 0.7rem), 1.5rem);
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid white;
}

.bloc{
    background-color: white;
    max-width: 800px;
    min-width: 320px;

    margin: auto;
    margin-top: 20px;
    border-radius: 1rem;
    padding: min(5em, 8% );
    overflow: auto;
}

.card img{
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
    max-width: 60%;
    height: auto;
}

.subtitle{
    margin-left: 80px;
}

.card p{
    font-size: large;
    line-height: 1.8;
}

footer{
    margin: 10px;
}

.end p{
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 150px;
    margin: auto;
    color: white;
    text-align: center;
}


/*Tema claro e escuro*/
/*
.trilho.dark{
    background-color: rgb(129, 129, 129);
}
.trilho.dark .indicador{
    background-color: rgb(61, 61, 61);
    left: 40px;
}
body.dark{
    background-color: #232323;
}
body.dark a:hover{
    background-color: rgba(0, 0, 0, 0.18);
}
body.dark .hero{
    background-color: oklch(48.326% 0.08609 182.997);
}
body.dark .bloc{
    background-color: #bdbdbd;
}
body.dark .card p, body.dark .subtitle{
    color: rgb(53, 53, 53);
}
body.dark .end p{
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}*/