/*tenho que arrumar a responcividade dessa budega*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 80%);
    margin: 3px;
}
.hero{
    background-image: url(../Pasta_imagem/pl_fundo1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 20px solid transparent;
}
.hero nav ul{
    text-align: right;
    margin: 20px 10px 0 0;
}
.hero nav li{
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    border: 2px solid black;
    font-size: clamp(0.5rem, calc(0.6vw + 0.35rem), 2rem);
}
.hero nav a{
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    padding: 10px;
    color: white;
    letter-spacing: 1px;
}
.titulo{
    text-align: center;
    color: whitesmoke;
    margin-top: auto
}
.titulo h1{
    font-size: clamp(1rem, calc(3vw + 1.5rem), 6rem);
    max-width: 350px;
    min-width: 100px;
    margin: auto;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px black;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: whitesmoke;
}
.titulo p{
    background-color: rgba( 0, 0, 0, 0.7);
    display: inline-block;
    padding: 10px;
    border-bottom: 4px solid white;
}
main{
    width: 800px;
    margin: auto;
}
.Sec_pri{
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    overflow: auto;
}
.img_card{
    float: left;
    width: 32%;
    margin-left: 1%;
}
.img_card img{
    width: 100%;
}
.img_card p{
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    border: 2px solid gray;
    padding: 10px;
}
#Sec_seg h2, p{
    text-indent: 20px;
    padding-left: 20px;
    margin: 20px;
}
#Sec_seg h2{
    color: white;
    background-color: darkred;
    border-bottom: 4px solid black;
}

footer{
    background-color: rgb(44, 44, 44);
    color: whitesmoke;
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 3;
    margin-bottom: 20px;
}